<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body id="body">
	<div id="container">
		<h1>City Management</h1>

		<div id="bar">
			<ul class="first">

				<li><a class="active" href="#home">Home</a></li>
				<li><a href="#nav" onClick="showAdd()">Adding movie</a></li>
				<li><a href="#delete" onClick="showDelete()">Delete Movie</a></li>
				<li><a href="#about" onclick="myFunction()">About</a></li>
			</ul>
		</div>



		<div id="footer">

		</div>
	</div>

</body>
</html>